html,*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}
img[src$=".png"]{
    background: transparent;
}

body{
    overflow-x: hidden;
}


nav ul li a{
    text-decoration: none;
    font-weight: bolder;
    font-size: x-large;
    margin-right: 20px;
    margin-left: 20px;
    
}

nav ul{
    display: flex;
    justify-content:flex-end;
    align-items:center;
    column-gap: 40px;
}
#link{
    height:5vh;
    width:12vw;
    background-color: green;
    opacity:.5;
   border: none;
   border-radius: 12px;
}
#link:hover{
    cursor: cell;
    border:none;
    transition: ease-in-out 1.5s;
    background-color: greenyellow;
    fill-opacity: .9;
}
#hotel{
    background-image: url(/Obura-Conservacy-And-Reforestation-Club-Firm/png_background/cover.png),url("/Obura-Conservacy-And-Reforestation-Club-Firm/png_background/cloud2.png") greenyellow;
    background-size: 100vw  ,cover ,contain;
    background-position:top;
    background-repeat: no-repeat;
    padding: 0;
    min-height: 100vh;
    padding-bottom: 12px;
    margin: 0;
    margin-bottom: 45px;
}
.headerCampsite{
    position:fixed;
    right: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    z-index: 1000;
}
.headerCampsiteText{
    margin:0;
    padding:0;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: expanded;
    font-weight: bold;
    font-size: xx-large;
}
.TextBoxHeaderCampsite{
    display: flex;
    justify-content: center;
    text-align: center;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-stretch: expanded;
    font-weight: bold;

}
.listHotelCampsite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    list-style-type: none;
}
#hotelImages{
    position: relative;
    top:8vh;
    width:100vh;
    margin-top:0;
    margin-bottom:0;
    padding:0;

}
#hotel{
    position: relative;
    top:8vh;
    width:100vh;
    margin-top:0;
    margin-bottom:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    line-height: 27px;
    align-items: center;

}
/* img{
    height: 450px;
    width: 400px;
} */
nav ul li a:hover{
    color:greenyellow;
    
}
.UpReturn{
    position:fixed;
    bottom:20vh;
    right:80vw;
    height:5vh;
    width:5vh;
    border:none;
    border-radius:14px;
    box-shadow:border-box;
    background:url("/images/homebutton.jpeg") green;
}


.hotelImages{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap:2px;
    background-image: url("/Obura-Conservacy-And-Reforestation-Club-Firm/images/background.jpeg") cover;
}

.hotelImages div.firstHotelImageDiv{
    display: flex;
    height: 400px;
    width: 100vw;
    gap: 2px;
    margin-bottom: 2px;
}

.hotelImages div.firstHotelImageDiv img{
    height: 100%;
    

}

.img_1{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/images/antelope1.jpeg") green;
    height: 100%;
    width: 50%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.img_2{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/images/image_section_2.webp") green;
    height: 100%;
    width: 20%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.img_3{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/images/images\ \(10\).jpeg") green;
    height: 100%;
    width: 50%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.img_4{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/done.jpg") green;
    height: 100%;
    width: 45%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.img_5{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/cypress.jpg") green;
    height: 100%;
    width: 55%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.img_6{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/parrot.jpg") green;
    height: 100%;
    width: 25%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.img_7{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/images/images\ \(18\).jpeg") green;
    height: 100%;
    width: 45%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.img_8{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/images/images\ \(9\).jpeg") green;
    height: 100%;
    width: 30%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.firstHotelImageDiv .img_1 :hover{
    filter: grayscle(100%) opacity(0.3);
}
.currency{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#input_button{
    width:6vw;
    height:2em;
    margin: 4px;
    text-align: center;
    font-variant: small-caps;
    font-weight: bolder;
    border-style: hidden;
    border-radius: 2PX;
    background: ease-in-out 2s;

}
#dollar_output_div{
    height:2em;
    width:12vh;
    border: none;
    border-radius:2px ;
    padding: 0;
    margin-top: 4px;
    text-align: center;
}
.Footer{
    background: white transparent;
    position: fixed;
    bottom:0;
    width:100vw;
    overflow: hidden;
    
}
.Footer ol{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Footer ol li a img{
    height: 20px;
    opacity:1;
    

}
Footer ol li a img:hover{
    transform:rotate(20deg);
    transition: ease-in-out 2s infinite;
    transform: rotateX(30deg);
    color:#7DF9FF;
    


}

