*,html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    /* background: rgb(0, 255, 85); */
    opacity: ;
}

#navMain{
    background: transparent ;
    top:0;
    /* position:fixed ;
    z-index: 10000; */
    display: flex;
    flex-direction: row;
    align-items: center;
    height:8vh;
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
    background-color: rgb(0, 255, 85);
    opacity: 0.7;
}
.logoImage{
    height: 70px;
}
#navMainPage{
    top:100px;
    display: flex;
    justify-content: space-between;
    gap: 12vw;
    align-items: center;
}
#navMain #navMainPage ol{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content:space-around;
    align-items: center;
    place-items: end;
    gap: 6vw;
    
}
#navMain #navMainPage ol li{
    display: flex;
    flex-direction: row;
    row-gap:12px;
}
#navMain #navMainPage ol li a{
    text-align: center;
    text-decoration: none;
    color:#000045;
    font-size: x-large;
    text-transform: capitalize;
    opacity: 1;
}
.Footer{
    background: white transparent;
    position: fixed;
    bottom:0;
    width:100vw;
    overflow: hidden;
    
}
.Footer ol{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Footer ol li a img{
    height: 20px;
    opacity:1;
    

}
.Footer img:hover{
    transform:rotate(20deg);
    transition: ease-in-out 2s infinite;
    transform: rotateX(30deg);
    color:#7DF9FF;
    


}
.introductionectionMain{
    display: flex;
    top: ;
    flex-direction: column;
    text-align:justify;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-bottom: 30px;
}
#companyName{
    display: flex;
    flex-direction: column;
    text-align:justify;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-size: x-large;
}
#companyProducts{
    display: flex;
    flex-direction: column;
    text-align:justify;
    justify-content: center;
    align-items: center;
    font-style: normal;
}
#companyProducts ol li::marker{
    content: url("/Obura-Conservacy-And-Reforestation-Club-Firm/png_background/glide.png");
    font-size: 0.89;
}
#companyProducts ol li a{
    text-decoration: none;
    color:black;

}
#images_slide_container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap:20px
}
.images_slide_1,.images_slide_2,.images_slide_3
{
    display: flex;
    flex-direction: row;
    height: 400px;
    gap: 20px;
}
#image_1{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/hare.jpg");
    width: 40%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#image_2{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/bird.jpg");
    width: 58%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#image_3{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/gazelle.jpg");
    width:30%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#image_4{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/antelope.jpg");
    width: 22%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#image_5{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/lion.jpg");
    width: 16%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#image_6{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/predator.jpg");
    width: 42%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#seedlings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#seedlings ol li::marker{
    content: url("/Obura-Conservacy-And-Reforestation-Club-Firm/png_background/glide.png");
    font-size: 0.89;
}
.seedlings_Donate_button{
    height: 3em;
    width:20em;
    border-radius: 12px;
    background-color: green;
    margin-top:7px ;
    margin-bottom: 7px;
}  
.seedlings_Donate_button :hover{
    transition: ease-in 500ms;
    border: none;
    background:greenyellow;
    font-size: 120%;
    grid-row: 1.2;
}

#slides_seedlings{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/cypress.jpg");
    width: 42%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
#animals_container{
   
    height: 100%;
}
#animals img{
     display: flex;
    height: 400px;
    width: 100vw;
    gap: 2px;
    margin-bottom: 2px;
}
.animals{
    display: flex;

    height: 500px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.animals_container{
    background: url("/Obura-Conservacy-And-Reforestation-Club-Firm/obura/cypress.jpg") cover center black;
    border-radius: 20px;
    height: 100%;
    width:35%;
}